<div class="row d-flex justify-content-around">
    <div class="m-3 col">
        <label for="app-type-table">Data Types</label><br>
        <app-type-table></app-type-table>
    </div>
    <div class="col">
        <label for="app-sensor-table">Sensor Table</label><br>
        <app-sensor-table></app-sensor-table>
    </div>
    <div class="m-3 row">
        <div class="col span-6">
            <label for="app-data-table">Data Table</label><br>
        <app-data-table></app-data-table>
        </div>
    </div>
</div>